<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsApplication1.Properties.Settings.Lab06_ASP_NetConnectionString"
      connectionString="Data Source=DESKTOP-UD42TK1;Initial Catalog=DoAnCuoiKy_LTWeb;Integrated Security=True;Multiple Active Result Sets=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>