<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsApplication1.Properties.Settings.Lab06_ASP_NetConnectionString"
      connectionString="Data Source=XUANHA-PC\MSSQLSERVER02;Initial Catalog=Lab06_ASP.Net;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>