html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.coffee-table {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-wrapper {
    overflow-x: auto;
}

.table {
    display: table;
    width: 100%;
}

    .table tr {
        display: table-row;
    }

    .table td {
        display: table-cell;
        padding: 10px;
        white-space: nowrap;
    }
.message-cell {
    max-width: 200px; /* Đặt kích thước chiều ngang tối đa */
    word-break: break-word; /* Áp dụng xuống hàng */
    overflow-x: auto; /* Tạo thanh cuộn ngang */
}